<!-- <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <mat-grid-list cols="1" rowHeight="16:1">
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>firstName</mat-label>
                    <input matInput formControlName="firstName" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>lastName</mat-label>
                    <input matInput formControlName="lastName" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>contactNumber</mat-label>
                    <input matInput formControlName="contactNumber" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>academicHistory</mat-label>
                    <input matInput formControlName="academicHistory" />
                </mat-form-field>
            </div>
        </mat-grid-tile>



    </mat-grid-list>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form> -->





<!-- <!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<h1>Student Profile Form</h1>

<form (ngSubmit)="submitForm()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="First Name">
    </div>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Last Name">
    </div>

    <div class="form-group">
        <label for="contactNumber">Contact Number</label>
        <input type="text" class="form-control" id="contactNumber" formControlName="contactNumber" placeholder="Contact Number">
    </div>

    <div class="form-group">
        <label for="academicHistory">Academic History</label>
        <input type="text" class="form-control" id="academicHistory" formControlName="academicHistory" placeholder="Academic History">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html> -->

<!-- <div class="wrapper">
  <div class="title">
    <h1>Student Form</h1>
  </div>
  <div class="contact-form">
    <div class="input-fields"> 
     

<input type="text" class="input" placeholder="First Name" formControlName="firstName">
<input type="text" class="input" placeholder="last Name" formControlName="lastName">
<input type="text" class="input" placeholder="Contact Number" formControlName="contactNumber">
<input type="text" class="input" placeholder="Department" formControlName="department">
<input type="text" class="input" placeholder="Academic Session" formControlName="session">
<input type="text" class="input" placeholder="Email" formControlName="email">
<input type="text" class="input" placeholder="Username" formControlName="username">
<input type="password" class="input" placeholder="Password" formControlName="password">
<input type="text" class="input" placeholder="Role" formControlName="role"> 

 
    </div>
    <div class="msg">
      <textarea placeholder="Message"></textarea>
      <div class="btn" (click)="submitForm()">Submit</div>
    </div>
  </div>
</div> -->

<!-- 
<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div class="wrapper">
      <div class="title">
        <h1>Student Form</h1>
      </div>
      <div class="contact-form">
        <div class="input-fields">
          <input type="text" class="input" placeholder="First Name" formControlName="firstName">
          <input type="text" class="input" placeholder="Last Name" formControlName="lastName">
          <input type="text" class="input" placeholder="Contact Number" formControlName="contactNumber">
          <input type="text" class="input" placeholder="Department" formControlName="department">
          <input type="text" class="input" placeholder="Roll" formControlName="roll">
          <input type="text" class="input" placeholder="Academic Session" formControlName="session">
          <input type="text" class="input" placeholder="Email" formControlName="email">
          <input type="text" class="input" placeholder="Username" formControlName="username">
          <input type="password" class="input" placeholder="Password" formControlName="password">
          <input type="text" class="input" placeholder="Role" formControlName="role">
        </div>
        <div class="msg">
          <textarea placeholder="Message"></textarea>
          <div class="btn" (click)="submitForm()">Submit</div>
        </div>
      </div>
    </div>
  </form> -->







<div class="mask d-flex align-items-center h-auto bg gradient-custom-3">
    <div class="container h-auto">
        <div class="row d-flex justify-content-center align-items-center h-auto">
            <div class="col-12 ">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5 ">Student Form</h2>

                        <form [formGroup]="formGroup" (ngSubmit)="submitForm()">


                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" class="form-control form-control-lg" placeholder="First Name"
                                            formControlName="firstName">
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" class="form-control form-control-lg" placeholder="Last Name"
                                            formControlName="lastName">

                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" class="form-control form-control-lg"
                                            placeholder="Contact Number" formControlName="contactNumber">
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" class="form-control form-control-lg" placeholder="Department"
                                            formControlName="department">
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" class="form-control form-control-lg" placeholder="Roll"
                                            formControlName="roll">
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" class="form-control form-control-lg"
                                            placeholder="Academic Session" formControlName="session">
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" class="form-control form-control-lg" placeholder="Email"
                                            formControlName="email">
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" class="form-control form-control-lg" placeholder="Username"
                                            formControlName="username">
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" class="form-control form-control-lg" placeholder="Password"
                                            formControlName="password">
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" class="form-control form-control-lg" placeholder="Role"
                                            formControlName="role">
                                    </div>

                                    <div class="msg">
                                        <textarea class="form-control form-control-lg" placeholder="Message"></textarea>
                                        <div class="btn" (click)="submitForm()">Submit</div>
                                    </div>
                                </div>
                            </div>





                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>