<h1>Location Form</h1>
<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <mat-grid-list cols="3" rowHeight="5:1">
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>house</mat-label>
                    <input matInput formControlName="house" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>street</mat-label>
                    <input matInput formControlName="street" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>villageOrCity</mat-label>
                    <input matInput formControlName="villageOrCity" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>thana</mat-label>
                    <input matInput formControlName="thana" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>upazila</mat-label>
                    <input matInput formControlName="upazila" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>district</mat-label>
                    <input matInput formControlName="district" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>postalCode</mat-label>
                    <input matInput formControlName="postalCode" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        
        
    </mat-grid-list>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>