<h1>Customer Form</h1>
<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <mat-grid-list cols="1" rowHeight="12:1">
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>name</mat-label>
                    <input matInput formControlName="name" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>designation</mat-label>
                    <input matInput formControlName="designation" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>phone</mat-label>
                    <input matInput formControlName="phone" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>team</mat-label>
                    <input matInput formControlName="team" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        
    </mat-grid-list>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
