<h1>Branch Form</h1>
<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <mat-grid-list cols="1" rowHeight="16:1">
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Branch Name</mat-label>
                    <input matInput formControlName="name" />
                </mat-form-field>
            </div>
        </mat-grid-tile>        
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Branch Address</mat-label>
                    <input matInput formControlName="address" />
                </mat-form-field>
            </div>
        </mat-grid-tile>        
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Phone No.</mat-label>
                    <input matInput formControlName="contactNo" />
                </mat-form-field>
            </div>
        </mat-grid-tile>        
    </mat-grid-list>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>