<div style="display: flex; justify-content: space-between;">
    <h2>Course List</h2>
    <button></button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="courseCode">
        <th mat-header-cell *matHeaderCellDef> Course Code </th>
        <td mat-cell *matCellDef="let element"> {{ element.courseCode }} </td>
    </ng-container>

    <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef> Course Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.courseName }} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
    </ng-container>

    <ng-container matColumnDef="courseMaterials">
        <th mat-header-cell *matHeaderCellDef> Course Materials </th>
        <td mat-cell *matCellDef="let element"> {{ element.courseMaterials }} </td>
    </ng-container>

    <ng-container matColumnDef="syllabus">
        <th mat-header-cell *matHeaderCellDef> Syllabus </th>
        <td mat-cell *matCellDef="let element"> {{ element.syllabus }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let i = index;">
            <button mat-icon-button color="warn" (click)="delete(i)">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="edit(i)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
